jupyter
folium
psycopg2-binary
pandas
geopandas
sqlalchemy
matplotlib
geopy
shapely 
requests
openpyxl
seaborn
fastapi
uvicorn[standard]
psycopg[binary]
pgvector
requests
python-dotenv
numpy
tiktoken
sentence-transformers
langchain
langchain-community
ollama
pdfplumber
